@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400,700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    letter-spacing: 0.1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    line-height: 1.5;
}
