@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    letter-spacing: 0.1rem;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-weight: 400;
    line-height: 2;
}

*, *::before, *::after {
    box-sizing: border-box;
    line-height: 1.5;
}
